<!DOCTYPE html>
<html>
<head>
  <title>Danny's Record Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <div class="container">
    <header>
      <img class="heading" src="/logo.png" alt="Danny's Records">
      <nav>
        <ul>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/albums">Albums</a></li>

        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </div>
</body>

</html>
