<h2>Albums index.erb</h2>

<a href="/albums/new">Add Album</a>

<% @albums.each do |album| %>

<p><%= album.title %></p>
<form method="post" action="/albums/<%= album.id %>/delete">
  <input class="form_button" type="submit" value="Delete <%= album.title %> "/>
</form>

<% end %>
