<h3>Are you sure you want to delete <%= @artist.name %> and all their albums?</h3>

<form method="post" action="/artists/<%= @artist.id %>/delete">
  <input type="submit" name="delete" value="Yes">
  <a href="/artists">Cancel</a>
</form>
